# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.docker/.env
*.env

# Byte-compiled / cache
*.py[cod]
*$py.class

# Docker
Dockerfile.*
.docker/docker-compose*.yml
.dockerignore

# Git
.git
.gitignore

# IDE/editor configs
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
